body{
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.ducami-login-left-backgrond {
    z-index: -2;
    /* border-bottom: 100vh solid #71996A; */
    /* border-right: 400px solid transparent; */
    /* border-right: 40vh solid transparent; */
    background-color: #71996A;
    width: 115vh;
    height: 200vh;
    position: fixed;
    top: -20vh;
    left:-40vh;
    transform: rotate(-20deg);
}
.ducami-login-right-background {
    z-index: -1;
    width: 100vh;
    height: 200vh;
    /* border-bottom: 150vh solid #94C98B;
    border-left: 200vh solid transparent; */
    /* border-left: 1900px solid transparent; */
    background-color: #94C98B;
    position: fixed;
    top:-10vh;
    right:-10vh;
    transform: rotate(50deg);
}



.ducami-login-login{
    display: none;
}
.ducami-login-join{
    display: none;
}


.ducami-login-head{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    width: 100%;

    /* position:absolute;
    left: 50%; */

    font-size: 5vh;
    font-weight: bold;
    /* z-index: -3; */
    /* position: absolute; */
    /* top: 10px; */
}
.ducami-login-head a{
    color: black;
    text-decoration: none;
}
.ducami-login-head a:visited{
    text-decoration: none;
}


.ducami-login-comment-login{
    color:#71996A ;
    position: absolute;
    font-size: 5vh;
    font-weight: bold;

    left:57vh;
    top: 27vh;

    cursor: pointer;

    width: 20vh;
    height: 10vh;

    text-align: right;
    /* display: flex; */
    /* justify-content: flex-end; */
    z-index: -3;

}
.ducami-login-comment-login:hover{
    transition: transform 0.5s;
    transform: scale(1.1);
    transform-origin: left bottom;
}

.ducami-login-comment-join{
    color:#94C98B ;
    position: absolute;
    font-size: 5vh;
    font-weight: bold;

    top: 40vh;
    right: 55vh;
    
    cursor: pointer;

    width: 25vh;
    height: 10vh;
    z-index: -2;
    
}
.ducami-login-comment-join:hover{
    transition: transform 0.5s;
    transform: scale(1.1);
    transform-origin: right bottom;
}

/* 로그인 멘트 */
.ducami-login-login-comment{
    color:white;
    position: absolute;
    top: 17vh;
    left: 12vh;
    font-size: 5vh;
    font-weight: bold;
}
/* 로그인 input태그 전체 */
.ducami-login-login-input{
    position: absolute;
    top: 35vh;
    left: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 35vh;
    height: 30vh;
}
/* 로그인 전체 input태그 */
input{
    font-size: 15px;
    margin: 5px;
    width: 30vh;
    height: 4vh;
    border-radius: 10px;
    border:0px;
    padding-left:5% ;
    /* color: #71996A; */
}
/* 로그인 버튼 */
#ducami-login-login-button{
    margin-top: 3vh;
    width: 31vh;
    height: 4vh;
    background-color: #94C98B;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

/* 로그인 input태그들 focus 할 때 변경 */
input:focus{
    /* outline: solid #94C98B; */
    outline: none;
    transform: scale(1.05);
}
#ducami-login-login-button:hover{
    transform: scale(1.05);
}



/* 회원가입 멘트 */
.ducami-login-join-comment{
    color:white;
    position: absolute;
    top: 30vh;
    right: 12vh;
    font-size: 5vh;
    font-weight: bold;
}

/* 회원가입 input태그의 전체 */
.ducami-login-join-input{
    position: absolute;
    top: 40vh;
    right: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 35vh;
    height: 50vh;
}

/* 회원가입 인증 버튼 */
#ducami-login-join-certified{
    
    background-color: #71996A;
    color: white;
    font-size: 20px;
    cursor: pointer;
}
/* 회원가입 버튼 */
#ducami-login-join-button{
    margin-top: 3vh;
    width: 31vh;
    height: 4vh;
    background-color: #71996A;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

#ducami-login-join-button:hover{
    transform:scale(1.05);
}
#ducami-login-join-certified:hover{
    transform:scale(1.05);
}


/* 이름, 생년월일, 이메일, 인증부분 크기 변경 */
#ducami-login-join-name{
    width: 13vh;
    /* display: inline; */
}
#ducami-login-join-birthday{
    width: 14vh;
    /* display: inline; */
}
#ducami-login-join-email{
    width: 23vh;
}
#ducami-login-join-certified{
    box-sizing: content-box;
    padding:0px;
    text-align: center;

}

.ducami-login-join-nameANDbirthday{
    width: 33vh;
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
}
.ducami-login-join-emailANDcertified{
    width: 33vh;
    display: flex;
    flex-direction:row;
    /* justify-content: space-between; */
}


