body{
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.ducami-login-left-backgrond {
    z-index: -2;
    /* border-bottom: 100vh solid #71996A; */
    /* border-right: 400px solid transparent; */
    /* border-right: 40vh solid transparent; */
    background-color: #71996A;
    width: 115vh;
    height: 200vh;
    position: fixed;
    top: -20vh;
    left:-40vh;
    transform: rotate(-20deg);
}
.ducami-login-right-background {
    z-index: -1;
    width: 100vh;
    height: 200vh;
    /* border-bottom: 150vh solid #94C98B;
    border-left: 200vh solid transparent; */
    /* border-left: 1900px solid transparent; */
    background-color: #94C98B;
    position: fixed;
    top:-10vh;
    right:-10vh;
    transform: rotate(50deg);
}



.ducami-login-login{
    display: none;
}
.ducami-login-join{
    display: none;
}


.ducami-login-head{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    width: 100%;

    /* position:absolute;
    left: 50%; */

    font-size: 5vh;
    font-weight: bold;
    /* z-index: -3; */
    /* position: absolute; */
    /* top: 10px; */
}
.ducami-login-head a{
    color: black;
    text-decoration: none;
}
.ducami-login-head a:visited{
    text-decoration: none;
}


.ducami-login-comment-login{
    color:#71996A ;
    position: absolute;
    font-size: 5vh;
    font-weight: bold;

    left:57vh;
    top: 27vh;

    cursor: pointer;

    width: 20vh;
    height: 10vh;

    text-align: right;
    /* display: flex; */
    /* justify-content: flex-end; */
    z-index: -3;

}
.ducami-login-comment-login:hover{
    transition: transform 0.5s;
    transform: scale(1.1);
    transform-origin: left bottom;
}

.ducami-login-comment-join{
    color:#94C98B ;
    position: absolute;
    font-size: 5vh;
    font-weight: bold;

    top: 40vh;
    right: 55vh;
    
    cursor: pointer;

    width: 25vh;
    height: 10vh;
    z-index: -2;
    
}
.ducami-login-comment-join:hover{
    transition: transform 0.5s;
    transform: scale(1.1);
    transform-origin: right bottom;
}