/* 빈 공간을 없애기 위해 margin,padding을 없앰 */
html,body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

/* a태그들의 데코레이션을 없애기 */
a{
    text-decoration: none;
}
a :link{
    text-decoration: none;
}
a:visited{
    text-decoration: none;
}



/* 헤더 */
.ducami-main-bar1{
    /* height: 4vh; */
    height: 40px;
    /* background-color: #7EA977; */
    /* background-color: #5D9454; */
    background-color: #94C98B;
    width: 100%;
    
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    font-weight:lighter;
    letter-spacing: 1px;
    word-spacing: 2px;

    /* position: absolute;
    left: 0px;
    top: 0px; */
    
    color: white;
}

/* 위에서 두 번째 바 */
.ducami-main-bar2{
    height: 90px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

/* 두 번째 바의 왼쪽 부분 */
.ducami-main-list{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
/* 두카미로고 */
.ducami-main-bar2-logo{
    padding-left: 10px;
    font-size: 30px;
    font-weight: bold;
    color: black;
    padding-left: 50px;
    padding-right: 20px;
}
/* 두카미 로고를 제외한 것들 */
.ducami-main-list > div{
    padding-left: 30px;
    padding-right: 10px;
    /* font-weight: bold; */
    /* padding-right:20px; */
}

/* 두 번째 바의 오른쪽 부분 */
.ducami-main-memberdata{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 40px;
}
.ducami-main-profile{
    margin:15px;
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color:transparent;
    overflow: hidden;
}
.ducami-main-profile > img{
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.ducami-main-chatting{
    margin: 15px;
    margin-top:17px;
    position: relative;
    background-color: transparent;
}
.ducami-main-chatting > img{
    width: 35x;
    height: 35px;
}
/* 채팅의 알람 */
.ducami-main-chatting-alarm{
    width: 20px;
    height:20px;
    box-sizing: border-box;
    border-radius: 50%;
    position: absolute;
    padding: 0;
    top: 0;
    right: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    color: white;
    background-color: #94C98B;
}










/* 세션 */
.ducami-main-eventContent{
    width: 100%;
    height: 600px;
    background-color: #274358;

    position: relative;

    color: white;
    font-size: 50px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
/* event(nany)부분 */
.ducami-main-eventContentIn{
    width: 100%;
    height: 100%;
    /* background-color: gold; */
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}
.ducami-main-eventContentIn-comment{
    width: 30%;
    height: 70%;
    font-weight: bold;
}
.ducami-main-eventContentIn-comment-small{
    font-weight:normal;
    margin-top: 22px;
    font-size: 21px;
    line-height: 150%;
}
.ducami-main-eventContentIn-img{
    background-color: #94C98B;
    width: 30%;
    height: 70%;
}

.ducami-main-eventContentPlus{
    width: 80%;
    height: auto;
    background-color: white;
    z-index: 2;

    font-size: 25px;
    font-weight: bold;
    /* padding: 50px; */
    color: black;

    position: absolute;
    top: 520px;

    border-radius: 20px;

    /* 그림자는 선택 */
    box-shadow: 1px 1px 30px -10px gray;
    
    box-sizing: border-box;
    padding-top: 50px;
    padding-left: 70px;

    line-height:150%;

    display: flex;
    flex-direction: column;
    /* display: flex;
    justify-content: center;
    align-items: center;
     */
    /* 줄어들면 plus크기는 유지, 옆 남은 부분은 사라지도록 */
}
/* 밑에 있는 정보들의 각각의 컬럼 */
.ducami-main-eventContentPlus > div{
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 22px;
}
/* 밑에 있는 정보들의 왼쪽, 오른쪽에 오는 것들 */
.ducami-main-info-left{
    width: 50%;
    float: left;
    box-sizing: border-box;
    /* background-color: gold; */
    /* margin-right: 5px; */

    height: 300px;
}
.ducami-main-info-right{
    width: 50%;
    float: right;
    box-sizing: border-box;
    /* background-color: yellow; */
    /* margin-left: 5px; */

    height: 300px;
}
/* 밑에 있는 정보들의 각각의 제목들 */
.ducami-main-eventContentPlus >div >div >div{
    font-size: 35px;
    margin-bottom: 20px;
    /* color: #94C98B; */
}









/* 푸터 */
.ducami-main-footer-base{
    width: 100%;
    height: 2670px;
    background-color: white;
}
.ducami-main-footer-content{
    width: 100%;
    height: 600px;
    background-color: #94C98B;
    color: white;
}
